<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Enable Proxy -->
    <proxy enabled="true" preserveHostHeader="true" />

    <!-- Increase IIS timeouts -->
    <security>
      <requestFiltering>
        <!-- Allow long requests -->
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>

    <httpProtocol>
      <customHeaders>
        <!-- Prevent connection close -->
        <add name="Connection" value="Keep-Alive" />
      </customHeaders>
    </httpProtocol>

    <!-- Reverse Proxy Rule -->
    <rewrite>
      <rules>
        <rule name="ReverseProxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite"
                  url="http://localhost:8088/{R:1}"
                  appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>

  <system.web>
    <!-- Increase request timeout for ASP.NET pipeline -->
    <httpRuntime executionTimeout="900" />
  </system.web>

</configuration>